@page "/achievements"
<h1 class="text-info">Achievements</h1>

<hr />
<ul class="list-group very-blue-gradient font-weight-bold text-light">
    <li class="list-group-item list-group-item-action">
        Won Second prize as certificate and medal in Debugging competition held in the 
intercollegiate event Festin 0 Bits of BSc. CS and IT department of Satish Pradhan 
Dnyanasadhana College of arts, science and commerce on 8th Feb., 2020. 
    </li>
    <li class="list-group-item list-group-item-action">
        Won First prize as certificate and medal in Blind Programming competition held in the 
intercollegiate event Festin 0 Bits of BSc. CS and IT department of Satish Pradhan 
Dnyanasadhana College of arts, science and commerce on 8th Feb., 2020.       
    </li>
    <li class="list-group-item list-group-item-action">
        Won Second prize as certificate and medal in Debugging competition held in the 
intercollegiate event Ashwamedha fest by Pune Vidyarthi Griha's College of science and 
technology, Ghatkopar east on 24th February, 2020. 
    </li>
    <li class="list-group-item list-group-item-action"> Won Second prize as certificate and medal in One Line Coding competition held in the 
intercollegiate event Ashwamedha fest by Pune Vidyarthi Griha's College of science and 
technology, Ghatkopareaston 26th February, 2020 </li>
    <li class="list-group-item list-group-item-action">Won Second prize as certificate and medal in Reverse Coding competition held in the 
intercollegiate event Ashwamedha fest by Pune Vidyarthi Griha's College of science and 
technology, Ghatkopar east on 26th February, 2020</li>
    <li class="list-group-item list-group-item-action"> Won First prize as certificate, cash and medal in Bug Hunting competition held in the 
intercollegiate event Technoholic Fest held at Karmaveer Bhaurao Patil Degree College, 
Thane West on 29th February, 2020.</li>
</ul>

• 
• 
• 
•
•  
•
