@page "/contact"
@inject HttpClient Http


<h1 class="text-info">Reach Me</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Platform</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h3 class="instagram">Instagram</h3></td>
            <td>
                <a href="https://instagram.com/mr_imperfect_01" class="text-reset ">
                    <span class="fa-stack fa-2x instagram">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <td><h3 class="linkedin">LinkedIn</h3></td>
            <td>
                <a href="https://www.linkedin.com/in/ritesh-odel-475954212/" class="text-reset">
                    <span class="fa-stack fa-2x linkedin">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <td><h3 class="whatsapp">WhatsApp</h3></td>
            <td>
                <a href="tel:+917506918235" class="text-reset">
                    <span class="fa-stack fa-2x whatsapp">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
        </tr>
        <tr>
            <td><h3 class="text-danger">Mail</h3></td>
            <td>
                <a href="mailto: ritesh22290@gmail.com" class="text-reset">
                    <span class="fa-stack fa-2x text-danger">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>
        </tr>

    </tbody>
</table>


<div class="d-flex justify-content-center my-4">
</div>



@code {
}