@page "/home"
@inject IJSRuntime Js
<h1 class="text-primary">Ritesh Odel</h1>
<hr />

<div class="card border-0">
    <div class="card-body p-4 wg-elegance-111-gradient rounded-lg">
        <h3 class="m-4 text-primary">Avishkar</h3>
        <hr />
        <img class="img-fluid p-4 my-4" src="img/avishkar.jpeg">

        <h5 class="my-4">Paper Publication</h5>
        <hr />
        <p>
            <h6>Published a paper and qualified for the final round!</h6>
            <em>Asst. Prof.  Ansa Jovel from the department of Information Technology and SYIT(2019-2020) students Ms.Neelam Waghmare , Mr. Ritesh Odel participated in National Research conference organised by VIVA institute named "Vishleshan 2020" and their  work got published in a UGC care journal "Shodh Sarita"!</em>
        </p>
    </div>

</div>


