@page "/notes"

<h1 class="text-primary">Notes</h1>
<hr />

<figure class="rounded p-4 wg-night-call-168-gradient text-light">
  <blockquote class="blockquote">
    <p>Happy birthday Ritesh. As you grow another year older(and wiser), I would like to express my gratitude for always being there for me. Hope you like this little gift of mine. Wishing you all the good things in life.</p>
  </blockquote>
  <figcaption class="blockquote-footer text-light">
      <cite title="Amal Krishna" >Amal Krishna ❤️</cite>
  </figcaption>
</figure>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
